smolagents[litellm]
smolagents[toolkit]
smolagents[telemetry]
smolagents[gradio]
smolagents[mcp]
gradio
dotenv
pillow
openpyxl
pandas
numpy
certifi
uv
langfuse
openinference-instrumentation-smolagents