gradio[oauth]
requests
smolagents[litellm]
smolagents[toolkit]
smolagents[telemetry]
smolagents[gradio]
smolagents[mcp]
opentelemetry-sdk 
opentelemetry-exporter-otlp 
openinference-instrumentation-smolagents
python-dotenv
langfuse 
datasets
huggingface_hub
dotenv
pillow
openpyxl
pandas
numpy
certifi